%h1 Listing cars

%table
  %tr
    %th Title
    %th Description
    %th
    %th
    %th

  - @cars.each do |car|
    %tr
      %td= car.title
      %td= car.description
      %td= link_to 'Show', car
      %td= link_to 'Edit', edit_car_path(car)
      %td= link_to 'Destroy', car, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New car', new_car_path
